/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0; /*
    border: 1px solid red; */
  box-sizing: border-box;
}

/* Estilos globais */

.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
  }
  .container::before {
    display: table;
    content: "";
  }
  .container::after {
    display: table;
    clear: both;
    content: "";
  }
  .container-md {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
  .container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
  }
  .container-xl {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
  
.px-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }