/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0; /*
    border: 1px solid red; */
    box-sizing: border-box;
  }
  
  /* Estilos globais */
  body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 3rem 5rem;
  }
  