/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Estilos globais */
body {
  padding: 25px;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.title {
  color: #5c6ac4;
  margin-bottom: 1rem;
}

.project {
  color: #8a2be2;
}

.status {
  color: crimson;
}

#currentDate,
#currentTime {
  margin: 0;
}

.repository {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
