/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos globais */
body {
  padding: 3rem 5rem;
}

.atividade {
  display: flex;
  flex-direction: column;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.title {
  color: #5c6ac4;
  margin-bottom: 2rem;
}

.project {
  color: #8a2be2;
  margin-bottom: 1rem;
}

.status {
  color: crimson;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.repository {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
