body {
  padding: 25px;
}

.resultado {
    display: flex;
    
}

.title {
  color: #5c6ac4;
}

.project {
  color: #8a2be2;
}

.status {
  color: crimson;
  margin: 0;
}

#currentTime {
  margin: 0;
}
