/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0; /*
  border: 1px solid red;*/
  box-sizing: border-box;
}

/* Estilos globais */
body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.px-3 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.my-5 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.projetos {
  display: flex;
  justify-content:space-between ;
  padding: 0.5rem 2rem;
}

pre {
  margin-bottom: 0.5rem;
}

.titulo {
  text-align: center;
}

.columnIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
}