/* Reset de estilos padrão */
* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  box-sizing: border-box;
}

/* Estilos globais */
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 5rem;
}

.atividade {
  display: flex;
  flex-direction: column;
}

.title {
  color: #5c6ac4;
  align-self: center;
  margin-bottom: 2rem;
}

.project {
  align-self: flex-start;
  color: #8a2be2;
  margin-bottom: 1rem;
}

.resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.cardProduto {
  display: flex;
}

.cardImageItem {
  height: auto;
  width: 15rem;
}

.cardInfoItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.h2NomeItem, h3PrecoIte
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p,
ul,
ol,
a {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.repository {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
