* {
  box-sizing: content-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: darkslategrey;
  border: 1px solid black;
}

body {
  background-color: honeydew;
}

header {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carrinho {
  display: flex;
  width: 50%;
}

.item-carrinho {
  display: flex;
  gap: 50px;
  background-color: lightseagreen;
  padding: 1rem 1.5rem;
  width: 100%;
  border-radius: 8px;
}

.capa {
  width: 80px;
  height: 120px;
  background-color: lightgray;
  position: relative;
}

.capa::after {
  /* content: "Capa";
  position: absolute; */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.info {
  display: flex;
  flex-direction: column;
}

.actionsButton {
  display: flex;
}

input {
  width: 40px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#subtotal {
  display: flex;
  gap: 30px;
  font-size: 1.2rem;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}